<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <table>
          <tr>
            <td><a class="navbar-brand" style="text-decoration:none;" href="/">TinyApp™</a></td>
            <% if (name) { %>
              <td><p>Hello, <%= name %></p></td>
              <td>
              <form action="/logout" method="POST">
                <button>Logout</button>
              </form>
            </td>
            <% } else { %>
        <td><form action="/login" method="POST" >
          <label for="username">Enter your username:</label>
          <input id="username" type="text" name="username"style="width: 150px" required>
          <input type="submit" value="Submit">
        </form></td>
        <% } %>
      </div>
      </div>    
    </nav>