<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <table>
          <tr>
            <td><h2><a class="navbar-brand" style="text-decoration:none;" href="/">TinyApp™</a></h2></td>
          </tr>
          <tr>
            <% if (name) { %>
              <td><p>Hello, <%= name.email %></p></td>
              <td>
              <form action="/logout" method="POST">
                <button>Logout</button>
              </form>
            </td>
            <% } else { %>
             <td>
              <form action="/login" method="GET" >
                <button>Login</button>
              </form>
            </td>
            <td>
            <form action="/register" method="GET">
              <button>Register</button>
            </form>
          </td>
        <% } %>
      </div>
      </div>    
    </nav>