<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <header>  <% include ./partials/_header %></header>
<table>
  <tr>
<p style="margin: 25px"><%= data.shortURL%> : <%=data.longURL %></p>
  </tr>
<tr>
<form action="/urls/%= data.shortURL%>" method="POST" style="margin:25px;">
  <label style="margin:25px" for="longURL">Enter an updated URL:</label>
  <input id="longURL" type="text" name="longURL" placeholder=<%= data.longURL%> style="width: 200px">
  <input type="submit" value="Submit">
</form>
</tr>
</table>
</body>
</html>